@charset "utf-8";
body {
  font-size: 18px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 1.5% 5%;
  background-color: #888;
}
nav ul li {
  font-size: 1.2em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

#top {
  height: 600px;
  background: url(https://www.hotel-ole.com/datas/photogallery/images/1_020181222193205_nQUcd.jpg)
    no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_wrapper {
  background-color: bisque;
  padding: 1.5%;
  margin-right: 0 auto;
}

.top_wrapper h1 {
  color: #fff;
  font-size: 1.8em;
}

#service {
  width: 80%;
  margin: 5% auto;
}

.section_title {
  font-size: 2.5em;
  text-align: center;
  color: gold;
  margin-bottom: 5%;
  margin-top: 5%;
}

.service_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service_left img {
  width: 100%;
  height: auto;
}

.service_right {
  margin-right: 10%;
}
.service_right h3 {
  font-size: 1.2em;
  color: darkkhaki;
  padding: 2.5% 0;
}

.service_right p {
  font-size: 1em;
  line-height: 1.5;
  color: #555;
}

#news {
  width: 80%;
  margin: 5% auto;
}

.news_wrapper {
  width: 40%;
  margin: 0 auto;
}

#price {
  width: 80%;
  margin: 5% auto;
}

.price_wrap table {
  border: double #75d5ff 10px;
  width: 100%;
  text-align: center;
}

/* .price_wrap table tr {
  border: solid #75d5ff 3px;
  padding: 1%;
} */

.price_wrap table th {
  border: solid #75d5ff 3px;
  padding: 1%;
}
.price_wrap table td {
  border: solid #75d5ff 3px;
  padding: 1%;
}

#contact {
  background: lightgoldenrodyellow;
}

#contact h2 {
  padding: 5% 0;
  margin: 0;
}

.form {
  width: 70%;
  margin: 0 auto;
}

label {
  display: inline-block;
  width: 30%;
  line-height: 2;
}

input,
textarea {
  box-sizing: border-box;
  border: solid #ddd 1px;
  width: 60%;
  margin-bottom: 2.5%;
}

input {
  padding: 1%;
}

textarea {
  height: 200px;
  vertical-align: top;
}

.button_submit {
  text-align: center;
}

.button {
  padding: 1.5% 5%;
  background-color: #555;
  margin: 5% 0;
  font-weight: bold;
  border: none;
  color: #fff;
}

#footer {
  background-color: #444;
  padding: 5%;
  text-align: center;
  color: #fff;
}
